@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1> Marks: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Value)
            </th>
            <th>
                @Html.DisplayFor(Model => Model.name)
            </th>
            <th>
                @Html.DisplayFor(Model => Model.surname)
            </th>
            @if(Model.Roles[0]=="Admin"){
                <th>
                    Teacher Name
                </th>
                <th>
                    Teacher Surname
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i=0;i<Model.Mark.Count();i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Mark[i].Value)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserInfo[i].FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserInfo[i].LastName)
                </td>
                @if (Model.Roles[0] == "Admin")
                {
                    <td>
                        @Html.DisplayFor(model => model.UserInfo2[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserInfo2[i].LastName)
                    </td>
                }
                @if (Model.Roles[0] == "Admin" || Model.Roles[0] == "Teacher")
                {
                    <td>
                        <a asp-page="./DeleteMark" asp-route-id="@Model.Mark[i].Id">Delete</a>
                    </td>
                }
            </tr>
        }
        </tbody>
</table>
