@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1> Marks: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark[0].Value)
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Teacher Surname
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mark)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Teacher.LastName)
                </th>
                <td>
                    <a asp-page="./DeleteMark" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherMark[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherMark[0].Value)
            </th>
            <th>
                Student Name
            </th>
            <th>
                Student Surname
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TeacherMark)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </th>
                <td>
                    <a asp-page="./DeleteMark" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>